# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Release/
/Debug/
/Release64/
/Debug64/
/Release32/
/Debug32/
CMakeLists.txt.user
build
